<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link type="text/css" href="">
		<title>Register Page<title>
	</head>
	<body>
		<h1>Welcom to Register Page!</h1>
		<div>
			<form action="/register" method="post">
				<input type="text" name="username" placeholder="your name"><br>
				<input type="text" name="password" placeholder="your password"><br>
				<input type="text" name="note" placeholder="your note"><br>
				<input type="submit" value="Register">
			</form>

			<div>{{result}}</div>

</html>
