<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="">
		<title>ToDo Page</title>
	</head>
	<body>
		<h1>Welcome to ToDo Page</h1>
		<h3>Hello, {{um}}!</h3>
		<div id="id-tdadd" data-id="{{uid}}">
			<input class="content" value="">
			<button class="tdadd" type="submit">Add Todo</button>
		</div>
		<h2>All the Todos:</h2>
		<div id="id-tdlist">


		</div>

		<script src="/static?file=basic.js"></script>
		<script src="/static?file=todo_api.js"></script>
	</body>
</html>
