<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    <h1>Welcome To My Web World!</h1>
    <h2>
        <a href="/admin/users">管理入口</a>
        <a href="/register">Signup</a>
        <a href="/login">Login</a>
    </h2>
    <img src="/static?file=doge.gif"/>
    <img src="/static?file=doge1.jpg"/>
    <img src="/static?file=doge2.gif"/>
    <br>
    <h3>{{ um }},你好！欢迎进入以下应用程序：</h3>
    <a href="/todo">ToDo</a>
    <br>
    <a href="/microb">Microblog</a>
    <br>
</body>
</html>