<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博主页</title>
</head>
<body>
    <h1>Welcome,{{ ur }}!</h1>
    <form action="/microb/add" method="post">
        <input type="text" name="blog" placeholder="添加新微博"><br>
        <button type="submit">发表</button>
    </form>
    <h3>{{ un }} microblogs:</h3>
    {% for mb in mbs %}
        <div>
        {{ mb.blog }} <br>
        <a href="/microb/delete?mid={{ mb.id }}">{{ delete }}</a>
        <form action="/microb/comment" method="post">
            <input type="hidden" name="mbid" value="{{ mb.id }}">
            <input type="hidden" name="uid" value="{{ uid }}">
            <input type="text" name="content" placeholder="添加评论">
            <button type="submit">添加评论</button>
        </form>
        Comments:<br>
        {% for cm in mb.comments() %}
            {{ cm.content }} by {{ cm.user().username }}
            <a href="/microb/cmtdel?cid={{ cm.id }}">
                {% if uid==cm.user().id or uid==mh.id %}
                    删除评论
                {% endif %}
            </a> <br>
        {% endfor %}<br>
        </div>
    {% endfor %}
    <br>
    <h3>To Others:</h3>
    <p>
        {% for user in us %}
            <a href="/microb?uid={{ user.id }}">{{ user.username }}</a><br>
        {% endfor %}
    </p>
</body>
</html>