<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Page</title>
</head>
<body>
    <h1>ToDo</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
    </form>
    {% for td in tds %}
    <div>
        <h3>{{ td.id }}: {{ td.title }}.</h3>
        <h4>
        创建日期：{{ td.created_time }}    更新日期： {{ td.update_time }}<br>
        <a href="/todo/edit">编辑</a>  <a href="/todo/delete">删除</a><br><br>
        </h4>
    </div>
    {% endfor %}
</body>
</html>